<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
	<h1>Curriculum Vitae</h1>
        <span>Imię:</span>
        <input type="text" v-model="person.name"><br><br>
        <span>Nazwisko:</span>
        <input type="text" v-model="person.surname"><br><br>
		
        <span>Płeć:</span>
        <select v-model="person.sex">
            <option>Kobieta</option>
            <option>Mężczyzna</option>
        </select><br><br>
		
        <span>Wykształcenie:</span>
        <select v-model="person.education">
            <option>Brak</option>
            <option>podstawowe</option>
            <option>Średnie</option>
			<option>Wyższe</option>
        </select><br><br>
		
        <span>Umiejętności:</span><br>
        <input type="checkbox" id="obslugaK" value="Obsluga komputerowa" v-model="person.skills">
        <label for="obslugaK">Obsługa komputerowa</label><br>
        <input type="checkbox" id="prawoJ" value="Prawo jazdy" v-model="person.skills">
        <label for="prawoJ">Prawo jazdy</label><br>
        <input type="checkbox" id="krea" value="Kreatywność" v-model="person.skills">
        <label for="krea">Kreatywność</label><br>
        <input type="checkbox" id="pracaZ" value="Praca w zespole" v-model="person.skills">
        <label for="pracaZ">Praca w zespole</label><br><br>
        <button @click="persist">Zapisz</button>
    </div>
    <script>
		const STORAGE_KEY = "person-data"
        var app = new Vue({
            el: '#app',
            data: {
                person: {
                    name: null,
                    surname: null,
                    sex: null,
                    education: null,
                    skills: []
                }
			}			
		});
    </script>

</body>

</html>